@import "_oa";

@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon', "Roboto", "微軟正黑體", 'Monaco';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;@include font-smoothing(antialiased);}


.icon-checkbox-checked:before {
    content: "\e907";
}


@media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {
  .tcp {
     width: 100%;

     height: 100%;
     background-image: url(../img/pic.png);
     background-repeat:no-repeat;

     background-size: 100% auto;

     background-color:rgba(250, 248, 249, 1.00);
     position: relative;
     border-bottom: 5px solid rgba(201, 62, 141, 1.00);

     @include clearfix();

    .tcpx {
      float: right;
      width: 100%;
      height: 100%;

      margin-top: 70%;

      @include clearfix();

      .tcpy {
        float: left;
        width: 60%;
        height: auto;

        padding:  0 10px;

        img {
          height: auto;
          max-width: 100%;

          padding-bottom: 15px;
        }

        span {
          width: 100%;
          border-top: 1px solid rgba(202, 61, 144, 1.00);
          display: inline-block;
          font-size: 1.2em;
          color: rgba(19, 0, 0, 1.00);
          padding: 10px 0;
        }
      }

      .tcpz {
        float: right;
        width: 40%;

        height: 100%;

        img {
          height: auto;
          max-width: 50%;

          padding-bottom: 0;
        }

      }
    }
  }

   .mcs {
      display: block;
      width: 100%;
      padding-top: 0;
      border-bottom: 1px solid rgba(202, 61, 144, 1.00);

      margin-bottom: 15px;

      // @include split-left(35%, '.mcsa', '.mcsb');
      @include clearfix();

      .mcsa {
        display: block;
        float: left;
        padding: 0 0 10px 0;
        border-bottom: 3px solid rgba(202, 61, 144, 1.00);
        width: 100%;

        @include clearfix();

        img {
          float: left;
          height: auto;
          width: 60px;
        }

        .store {
          float: left;
          width: calc(100% - 86px);
          padding: 0 0 0 10px;

          font-size: 1.2em;
          font-weight: bolder;
          color: rgba(18, 18, 18, 1.00);
          text-align: left;
        }
      }

      .mcsb {
        width: 100%;

        float: left;
        text-align: center;
        padding: 15px 0;

        button, .btn {
          margin: 0 0;
          display: block;
          width: 100%;
          @include border-radius(10px);
          border-color: transparent;
          border-bottom: 5px solid rgba(157, 26, 108, 1.00);
          background-color: rgba(200, 62, 142, 1.00);

          font-size: 1.2em;
          font-weight: bolder;
          color: rgba(255, 255, 255, 1.00);
          padding: 10px 10px;
          text-align: center;
          text-decoration: none;

          cursor: pointer;
          &:focus {
            outline: 0;
          }
        }

        button {
          &:hover {
            background-color: rgba(157, 26, 108, 1.00);
            border-bottom: 5px solid rgba(200, 62, 142, 1.00);
          }

          &:before {
            display: inline-block;
            margin-right: 10px;
          }
        }

        .btn {
          border-bottom: 5px solid rgba(58, 59, 61, 1.00);
          background-color: rgba(151, 151, 152, 1.00);
        }
      }
    }


   .mcsp {
    display: block;
    width: 100%;
    padding-top: 0;
    border-bottom: 1px solid rgba(202, 61, 144, 1.00);

    margin-bottom: 15px;

    @include clearfix();

    .mcspa {
      width: 100%;
      float: left;
      padding: 90px 0 15px 0;
      border-bottom: 3px solid rgba(202, 61, 144, 1.00);

      span {
        font-size: 1.2em;
        font-weight: bolder;
        color: rgba(18, 18, 18, 1.00);
        text-align: left;
      }
    }

    .mcspb {
      width: 100%;
      float: left;
      padding: 10px 0;

      @include clearfix();

      #keyword {
        float: left;
        display: inline-block;
        width: 100%;
        margin: 15px 0;
        padding: 10px 10px;

        font-size: 1.2em;
        border: 1px solid rgba(215, 217, 217, 1.00);
      }

      button {
        float: left;
        display: block;
        width: 100%;

        margin-bottom: 15px;

        @include border-radius(10px);
        border-color: transparent;
        border-bottom: 5px solid rgba(157, 26, 108, 1.00);
        background-color: rgba(200, 62, 142, 1.00);

        font-size: 1.2em;
        font-weight: bolder;
        color: rgba(255, 255, 255, 1.00);
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        &:focus {
          outline: 0;
        }
        &:hover {
          background-color: rgba(157, 26, 108, 1.00);
          border-bottom: 5px solid rgba(200, 62, 142, 1.00);
        }
      }

      span {
        display: block;
        background-color: rgba(227, 228, 229, 1.00);

        text-align: left;
        font-size: 1.4em;
        font-weight: bolder;
        color: rgba(16, 16, 17, 1.00);
        padding: 10px 44px;
      }

    }

   }

   .pgd {
      padding-top: 90px;
      border-bottom: 1px solid #e3e5e5;
      @include clearfix();

      span {
        display: inline-block;
        margin: 0 auto;
        width: 100%;

        &.pinktype {
          font-size: 1.2em;
          width: 100%;
          color: rgba(196, 49, 133, 1.00);
          padding-bottom: 15px;
        }

        &.blacktype {
          font-size: 1.2em;
          width: 100%;
          color: rgba(13, 14, 14, 1.00);
          padding-bottom: 15px;
        }
      }

      .pg {
        width: 100%;
        float: right;
        padding-bottom: 15px;
        // @include split-right(44%, '.pgl', '.pgr');

        .pgl {
          width: 100%;
          float: left;

          text-align: center;
          font-size: 1.2em;
          font-weight: bolder;
          color: rgba(126, 127, 128, 1.00);
          padding: 10px 0;
        }

        .pgr {
          width: 100%;
          float: left;

          a {
            float: left;
            display: block;
            width: 100%;

            margin-bottom: 15px;

            @include border-radius(10px);
            border-color: transparent;
            border-bottom: 5px solid rgba(157, 26, 108, 1.00);
            background-color: rgba(200, 62, 142, 1.00);

            font-size: 1.2em;
            font-weight: bolder;
            color: rgba(255, 255, 255, 1.00);
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;

            cursor: pointer;
            &:focus {
              outline: 0;
            }
            &:hover {
              background-color: rgba(157, 26, 108, 1.00);
              border-bottom: 5px solid rgba(200, 62, 142, 1.00);
            }
          }

        }
      }
    }


   a.btnd {
    float: left;
    display: block;
    width: 100%;

    margin-bottom: 0;
    margin-top: 15px;

    @include border-radius(10px);
    border-bottom: 5px solid rgba(157, 26, 108, 1.00);
    background-color: rgba(200, 62, 142, 1.00);

    font-size: 1.2em;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1.00);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: rgba(157, 26, 108, 1.00);
      border-bottom: 5px solid rgba(200, 62, 142, 1.00);
    }
   }

}


@media screen and (min-width: $mediaTabletWidth + 1) {

   .tcp {
     height: 700px;
     background-image: url(../img/pic.png);
     background-repeat:no-repeat;
     background-color:rgba(250, 248, 249, 1.00);
     position: relative;
     border-bottom: 5px solid rgba(201, 62, 141, 1.00);

     @include clearfix();

     .tcpx {
      float: right;
      width: 40%;
      height: 700px;

      @include clearfix();

      .tcpy {
        float: left;
        width: 100%;
        height: 55%;

        padding:  30px 30px 0 30px;

        img {
          height: auto;
          max-width: 100%;

          padding-bottom: 20px;
        }

        span {
          width: 100%;
          border-top: 1px solid rgba(202, 61, 144, 1.00);
          display: inline-block;
          font-size: 3em;
          color: rgba(19, 0, 0, 1.00);
          padding: 15px 0;
        }
      }

      .tcpz {
        float: right;
        width: 100%;

        height: 45%;

        img {
          height: auto;
          max-width: 100%;

          // padding-bottom: 15px;
          margin-top: 4px;
        }

        // margin-top: 4px;
        // background-image: url(../img/product.png);
        // background-repeat:no-repeat;
        // position: relative;
        // background-position: 200px 0px;

      }

     }
   }


   .mcs {
      padding-top: 35px;
      border-bottom: 1px solid rgba(202, 61, 144, 1.00);

      @include split-left(35%, '.mcsa', '.mcsb');

      .mcsa {
        float: left;
        padding:0 0 10px 15px;
        border-bottom: 3px solid rgba(202, 61, 144, 1.00);
        @include clearfix();

        img {
          float: left;
          height: auto;
          width: 86px;
        }

        .store {
          float: left;
          width: calc(100% - 86px);
          padding:10px 0 0 20px;

          font-size: 1.4em;
          font-weight: bolder;
          color: rgba(18, 18, 18, 1.00);
          text-align: left;
        }
      }

      .mcsb {
        float: left;
        text-align: center;
        padding: 5px 0;

        button, .btn {
          margin: 0 80px;
          display: inline-block;
          width: 60%;
          @include border-radius(10px);
          border-color: transparent;
          border-bottom: 5px solid rgba(157, 26, 108, 1.00);
          background-color: rgba(200, 62, 142, 1.00);

          font-size: 1.4em;
          font-weight: bolder;
          color: rgba(255, 255, 255, 1.00);
          padding: 20px 10px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          &:focus {
            outline: 0;
          }
        }

        button {
          &:hover {
            background-color: rgba(157, 26, 108, 1.00);
            border-bottom: 5px solid rgba(200, 62, 142, 1.00);
          }

          &:before {
            display: inline-block;
            margin-right: 10px;
          }
        }

        .btn {
          border-bottom: 5px solid rgba(58, 59, 61, 1.00);
          background-color: rgba(151, 151, 152, 1.00);
        }
      }
    }


   .mcsp {
    border-bottom: 1px solid rgba(202, 61, 144, 1.00);

    margin-bottom: 30px;
    @include split-left(35%, '.mcspa', '.mcspb');

    .mcspa {
      float: left;
      padding: 15px 15px;
      border-bottom: 3px solid rgba(202, 61, 144, 1.00);

      span {
        font-size: 1.4em;
        font-weight: bolder;
        color: rgba(18, 18, 18, 1.00);
        text-align: left;
      }
    }

    .mcspb {
      float: left;
      padding: 0 20px;

      @include clearfix();

      #keyword {
        float: left;
        display: inline-block;
        width: 50%;
        margin: 3px 20px;
        padding: 10px 10px;

        font-size: 1.4em;
        border: 1px solid rgba(215, 217, 217, 1.00);
      }

      button {
        float: left;
        display: inline-block;
        width: 40%;

        @include border-radius(10px);
        border-color: transparent;
        border-bottom: 5px solid rgba(157, 26, 108, 1.00);
        background-color: rgba(200, 62, 142, 1.00);

        font-size: 1.4em;
        font-weight: bolder;
        color: rgba(255, 255, 255, 1.00);
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
        &:hover {
          background-color: rgba(157, 26, 108, 1.00);
          border-bottom: 5px solid rgba(200, 62, 142, 1.00);
        }
      }

      span {
        display: block;
        background-color: rgba(227, 228, 229, 1.00);

        text-align: left;
        font-size: 1.4em;
        font-weight: bolder;
        color: rgba(16, 16, 17, 1.00);
        padding: 10px 44px;
      }

    }

   }

   .pgd {
      margin-top: 30px;
      border-bottom: 1px solid #e3e5e5;
      @include clearfix();

      span {
        display: inline-block;
        margin: 0 auto;
        width: 100%;

        &.pinktype {
          font-size: 2em;
          width: 100%;
          color: rgba(196, 49, 133, 1.00);
          padding-bottom: 30px;
        }

        &.blacktype {
          font-size: 2em;
          width: 100%;
          color: rgba(13, 14, 14, 1.00);
          padding-bottom: 30px;
        }
      }

      .pg {
        width: 65%;
        float: right;
        padding-bottom: 15px;
        @include split-right(44%, '.pgl', '.pgr');

        .pgl {
          float: left;

          text-align: left;
          font-size: 1.4em;
          font-weight: bolder;
          color: rgba(126, 127, 128, 1.00);
          padding: 10px 44px;
        }

        .pgr {
          float: left;

          button {
            float: left;
            display: inline-block;

            @include border-radius(10px);
            border-color: transparent;
            border-bottom: 5px solid rgba(157, 26, 108, 1.00);
            background-color: rgba(200, 62, 142, 1.00);

            font-size: 1.4em;
            font-weight: bolder;
            color: rgba(255, 255, 255, 1.00);
            padding: 10px 83px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              background-color: rgba(157, 26, 108, 1.00);
              border-bottom: 5px solid rgba(200, 62, 142, 1.00);
            }
            &:focus {
              outline: 0;
            }
          }

        }
      }
    }


   a.btnd {
    display: inline-block;
    margin-top: 30px;

    @include border-radius(10px);
    border-bottom: 5px solid rgba(157, 26, 108, 1.00);
    background-color: rgba(200, 62, 142, 1.00);

    font-size: 1.4em;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1.00);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: rgba(157, 26, 108, 1.00);
      border-bottom: 5px solid rgba(200, 62, 142, 1.00);
    }
   }

}
